.card__board__mobile {
    width: 101vw; /* Adjusted for mobile */
    border: 2px solid #18A7B1;
    height: auto; /* Allow height to adjust based on content */
    margin-block: 3rem; /* Reduced margins for mobile */
    margin-bottom: 3rem; /* Reduced bottom margin */
    padding: 1rem; /* Add padding for better spacing */
    display: flex;
    flex-direction: column; /* Stack content vertically */
    justify-content: center;
    align-items: center;
}

.card__board__mobile__title {
    width: fit-content;
    font-family: Manrope;
    font-size: 16px; /* Reduced font size for readability */
    font-weight: 800;
    line-height: 1.4; /* Adjusted line height */
    letter-spacing: -0.5px; /* Slightly reduced spacing */
    text-align: center;
    text-transform: uppercase;
    color: #4CB9C1;
    position: relative;
    padding: .5rem; /* Add padding for spacing */
}

.card__board__mobile__title::before, 
.card__board__mobile__title::after {
    content: '';
    position: absolute;
    width: 10px; /* Reduced size for mobile */
    height: 10px;
    top: 50%;
    border-radius: 50%;
    transform: translateY(-50%);
    background-color: #18A7B1;
}

.card__board__mobile__title::before {
    left: -20px; /* Adjusted position for smaller screens */
}

.card__board__mobile__title::after {
    right: -20px; /* Adjusted position for smaller screens */
}