.apropos__image__section{
    padding: 2rem;
}

.apropos__page__mobile .phone__number {
    position: absolute;
    top: 113.5px;
    left: 0;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 209.88px;
    height: 55.56px;
    border-radius: 6.61px;
    background: white;
    font-family: Manrope;
    font-size: 16.95px;
    font-weight: 600;
    line-height: 23.15px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #18466F;
    gap: 1rem;
}

.section__container::after{
    content: unset;
}