.header__container {
    width: 100%;
    aspect-ratio: 1098 / 575;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
    position: relative;
    background: transparent;
}