.contact__info__container {
    width: 100%;
    background-color: #4EADB4;
    height: 46.39px;
    margin: 10px auto;
    margin-bottom: 3rem;
    border-radius: 90.97px;
    display: flex;
    justify-content: space-around; /* Center items horizontally */
    padding: 0 2rem; /* Use shorthand for horizontal padding */
    align-items: center; /* Center items vertically */
    color: white;
    list-style: none;
}

.separator {
    width: 1px;
    height: 40%;
    background-color: white;
    margin: 0 1rem;
}

.contact__info__item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-family: var(--main-font);
    font-size: 16.47px;
    font-weight: 600;
    line-height: 22.5px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

/* RTL Support */
[dir='rtl'] .contact__info__item {
    flex-direction: row-reverse;
    text-align: right;
}

@media screen and (max-width: 768px) {
    .contact__info__container {
        flex-direction: column;
        height: auto;
        padding: 1rem;
        gap: 0.5rem;
        border-radius: 1rem;
    }

    .separator {
        width: 80%;
        height: 1px;
        margin: 0.25rem 0;
    }

    .contact__info__item {
        font-size: 14px;
    }
}