/* Root Variables */
:root {
    /* Colors */
    --primary-color: #4CB9C1;
    --secondary-color: #18466F;
    --tertiary-color: #4F4F4F;
    --accent-color: #4CB9C1;
    --dark-gray: #333333;
    --light-gray: #E0E0E0;
    --medium-gray: #4F4F4F;
    --semi-transparent-white: rgba(255, 255, 255, 0.5);
    --shadow-color: rgba(0, 0, 0, 0.1);
    --white: #fff;
    --black: #000;

    /* Fonts */
    --main-font: 'Manrope', sans-serif;
    --secondary-font: 'Archivo', sans-serif;
    --arabic-font: "Cairo", sans-serif;

    --border-radius-small: 0.5rem;
    --border-radius-medium: 1rem;
    --border-radius-full: 50%;
  
    --spacing-xs: 0.5rem;
    --spacing-sm: 1rem;
    --spacing-md: 1.5rem;
    --spacing-lg: 2rem;
  
    --font-size-sm: 0.875rem; /* 14px */
    --font-size-md: 1rem; /* 16px */
    --font-size-lg: 1.125rem; /* 18px */
    --font-size-xl: 1.5rem; /* 24px */
}

#root[data-direction="rtl"] * {
    --main-font: var(--arabic-font)!important;
}

*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--main-font);
}

.page__mobile{
    margin-top: 81px;
}

body{
    font-family: var(--main-font), sans-serif;
    overflow-x: hidden;
}

#root{
    overflow-x: hidden;
}

.back__next__container{
    width: 100%;
    padding-inline: 4rem;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.back__next__item{
    display: flex;
    gap: 1rem;
}

.back__next__item__arrow{
    width: 45.88px;
    height: 45.88px;
    border: 1.53px solid #4CB9C1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #4CB9C1;
    border-radius: 50%;
    cursor: pointer;
}

.back__next__item__arrow.active{
    width: 45.88px;
    height: 45.88px;
    border: 1.53px solid #4CB9C1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #4CB9C1;
    color: white;
    border-radius: 50%;
}

.current__item__container{
    width: 103.22px;
    height: 11.47px;
}

.current__item__indicator{
    width: 34.41px;
    height: 11.47px;
    background: #4CB9C1;
    border-radius: 11.47px;
}

.play-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48.59px;
    height: 48.59px;
    background-color: white;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    cursor: pointer;
    z-index: 1000;
}

.play-icon::after {
    content: "";
    position: absolute;
    top: -8px;
    left: -8px;
    right: -8px;
    bottom: -8px;
    border: 1.44px solid white;
    border-radius: 50%;
    pointer-events: none;
}
  
.play-icon svg {
    color: #18466F;
    font-size: 20px;
}