.apropos__page{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    padding-inline: 2rem;
    margin: auto;
}

.apropos__page .header__container{
    height: auto;
}

.section__container{
    width: 935px;
    height: 415.08px;
    display: flex;
    gap: 3rem;
    margin: auto;
    margin-block: 4rem;
    position: relative;
}

.section__container__item{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section__container__item:nth-child(1){
    width: 428.34px;
    flex: none;
}

.section__sub__header{
    font-family: var(--main-font);
    font-size: 13.83px;
    font-weight: 600;
    line-height: 23.34px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #4CB9C1;
}

.section__header h1{
    font-family: var(--main-font);
    font-size: 40px;
    font-weight: 700;
    line-height: 57.92px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #1B3C74;
}

.section__header span{
    color: #4CB9C1;
}

.section__description{
    font-family: var(--main-font);
    font-size: 18px;
    font-weight: 400;
    line-height: 25.07px;
    text-align: justify;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #77829D;
}

.section__bullets ul{
    list-style-type: none;
}

.section__bullets li{
    font-family: var(--main-font);
    font-size: 15.56px;
    font-weight: 600;
    line-height: 23.34px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #1B3C74;
    display: flex;
    align-items: center;
    margin-block: 2rem;
}

.section__bullets li img{
    margin-inline: 10px;
}

.image__container .section__image{
    width: 274.15px;
    height: 227.08px;
    border-radius: 15.43px;
    object-fit: cover;
    border: 4.13px solid #FFFFFF
}

.image__container{
    position: relative;
}

.top{
    position: absolute;
    right: 0;
    top: 0;
}

.image__container img:nth-child(2){
    position: absolute;
    right: 64px;
    top: 188px;
}

.apropos__page .phone__number{
    position: absolute;
    top: 113.5px;
    left: 0;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 209.88px;
    height: 55.56px;
    border-radius: 6.61px;
    background: white;
    font-family: var(--main-font);
    font-size: 16.95px;
    font-weight: 600;
    line-height: 23.15px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #18466F;
    gap: 1rem;
}

.icon__container{
    width: 30.65px;
    height: 30.65px;
    background: #4CB9C1;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon__container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.apropos__doctor__team{
    width: 994px;
    margin: 4rem auto;
    height: 451px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
}

.doctor__team__content{
    width: 400px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.doctor__team__image{
    flex: 1;
    height: 100%;
}

.doctor__team__cta{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-block: 1rem;
}

.doctor__team__separator{
    border: 1px solid #838383;
    height: 32.5px;
    width: 0;
}

.doctor__team__contact__us{
    width: fit-content;
    padding-inline: 1rem;
    height: 45px;
    border-radius: 6px;
    border: 1px solid #4CB9C1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--main-font);
    font-size: 15px;
    font-weight: 600;
    line-height: 20.49px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #4CB9C1;
}

.doctor__team__title{
    margin-block: 1rem;
    font-family: var(--main-font);
    font-size: 38px;
    font-weight: 800;
    line-height: 51.91px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #5C5C5C;
}

.doctor__team__description{
    font-family: var(--main-font);
    font-size: 18px;
    font-weight: 400;
    line-height: 25.92px;
    text-align: justify;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #5C5C5C;
}

.doctor__name{
    font-family: var(--main-font);
    font-size: 29.4px;
    font-weight: 700;
    line-height: 38.22px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #4CB9C1;
}

.doctor__speciality{
    font-family: var(--main-font);
    font-size: 24.06px;
    font-weight: 300;
    line-height: 31.27px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #002964;
}

.doctor__team__image img{
    width: auto;
    height: 100%;
    object-fit: contain;
}

.doctor__team__image {
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.background{
    content: '';
    position: absolute;
    bottom: -250px;
    right: -100px;
    width: 617px;
    height: 617px;
    background: linear-gradient(180deg, #4CB9C1 0%, #24575B 100%);
    border-radius: 50%;
    z-index: -1;
}

.background[data-direction="rtl"]{
    left: -100px;
    right: unset;
}

.doctor__cardboard{
    position: relative;
    margin-left: 1.5rem;
}

.doctor__cardboard::before{
    content: '';
    position: absolute;
    width: 5.35px;
    height: 53.46px;
    border-radius: 40.09px;
    background: #4CB9C1;
    top: 50%;
    transform: translateY(-50%);
    left: -1.5rem;
}

.doctor__cardboard[data-direction="rtl"]{
    margin-left: 0;
    margin-right: 1.5rem;
}

.doctor__cardboard[data-direction="rtl"]::before{
    left: unset;
    right: -1.5rem;
}

.section__container::after{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 252px;
    height: 252px;
    border: 40px solid #4CB9C1;
    border-radius: 50%;
    transform: translateX(100%) translateY(15%);
}

.title__title__container{
    width: 100%;
    position: relative;
    overflow: visible;
}

.apropos__page .title__title__container::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 161px;
    height: 161px;
    border: 30px solid #4CB9C1;
    border-radius: 50%;
    transform: translateX(-70%) translateY(-100%);
}

.apropos__video__container{
    width: 80%;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    align-items: center;
    margin-block: 4rem;
    position: relative;
}

.apropos__video__container::before{
    width: 258px;
    height: 204px;
    border-radius: 34px;
    content: '';
    position: absolute;
    top: -.7rem;
    left: -.7rem;
    border: 2px solid #4CB9C1;
    z-index: -1;
}

.apropos__video__container::after{
    width: 258px;
    height: 204px;
    border-radius: 34px;
    content: '';
    position: absolute;
    bottom: -.7rem;
    right: -.7rem;
    border: 2px solid #4CB9C1;
    z-index: -1;
}

.apropos__video__item{
    position: relative;
}

.apropos__video__item{
    flex: 1;
    height: 100%;

}

.apropos__video__item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
}